				int dataBindingsBefore%TARGETPROPERTY% = control.DataBindings.Count;
				
				scope.Bind(bindableSource.%SOURCEPROPERTY%).To(bindableTarget.%TARGETPROPERTY%);

				Assert.AreEqual(dataBindingsBefore%TARGETPROPERTY% + 1, control.DataBindings.Count);
				
				Assert.AreEqual(control.%TARGETPROPERTY%, obj.%SOURCEPROPERTY%);
				
				obj.Change%SOURCEPROPERTY%();
				
				Assert.AreEqual(control.%TARGETPROPERTY%, obj.%SOURCEPROPERTY%);

