
		[Test]
		public void TestBindingTo%CONTROL%()
		{
			%CONTROL% control = new %CONTROL%();
			IBusinessObject obj = new BusinessObject();			
			
			using(BindingScope scope = new BindingScope())
			{
				IBusinessObject bindableSource = scope.CreateSource(obj);
				
				if(control is Control)
					((Control)control).CreateControl();
				control.BindingContext = new BindingContext();
			
				%CONTROL% bindableTarget = scope.CreateTarget(control);
%BINDINGS%
			}
		}
		
